/* 기본 스타일 유지 */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

/* 스크롤 막기 */
body.no-scroll {
  overflow: hidden;
}

header {
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .logo img {
  height: 50px;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

nav ul.showing {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 4px;
  transition: 0.4s;
}

/* 메뉴 닫기 버튼(X) 스타일 */
#close-menu {
  position: absolute;
  top: 20px;
  left: 35px;
  font-size: 2rem;
  color: #fff;
  display: none;
  cursor: pointer;
  z-index: 200; /* 메뉴보다 높은 z-index */
}

/* 메뉴 오버레이 스타일 */
#menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100; /* 메뉴보다 낮은 z-index */
}

/* Small screens (tablets, phones) */
@media (max-width: 768px) {
  nav ul {
    display: flex; /* flex로 변경 */
    flex-direction: column;
    width: 70%;
    height: 100vh;
    background-color: #000000;
    position: fixed; /* absolute에서 fixed로 변경 */
    left: 0;
    top: 0;
    padding: 70px 40px;
    align-items: start;
    z-index: 150;
    transform: translateX(-100%); /* 처음에 메뉴를 화면 밖으로 숨김 */
    transition: transform 0.3s ease-in-out;
  }

  nav ul.showing {
    transform: translateX(0); /* 메뉴가 나타날 때 화면에 표시 */
  }

  nav ul li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle.hidden {
    display: none;
  }
}

/* Section 스타일 */
section {
  text-align: center;
}

section.visible .fade-up {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
}

#home {
  transition: none;
}

#home .main-visual {
  background: url("main-background.jpg") no-repeat center center/cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  position: relative;
}

#home .main-visual h1 {
  font-size: 2.5em;
  margin: 0;
  position: absolute;
  left: 50px;
  bottom: 20%;
  transform: translateY(-50%);
  /* background: rgba(0, 0, 0, 0.6); */
  padding: 20px;
  border-radius: 10px;
  width: auto;
  max-width: calc(100% - 100px);
  box-sizing: border-box;
  line-height: 1.2;
}

@media (max-width: 768px) {
  #home .main-visual h1 {
    font-size: 2em;
    left: 20px;
    right: 20px;
    max-width: calc(100% - 40px);
    padding: 15px;
  }
}

@media (max-width: 480px) {
  #home .main-visual h1 {
    font-size: 1.5em;
    padding: 10px;
  }
}

/* Services Section 스타일 */
#services {
  padding: 50px 20px;
  background-color: #102139;
}

#services h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #ffffff;
}

#services p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #ffffff;
}

.service-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 70%;
  margin: 0 auto;
  max-width: 800px;
}

.service {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service img {
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.service img.scanoX {
  width: 80%;
}

.service img.walkApp {
  width: 50%;
}

.service h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.service p {
  font-size: 1em;
}

@media (max-width: 768px) {
  .service {
    width: 100%;
  }

  .service-details {
    width: 100%;
  }

  .service img.scanoX,
  .service img.walkApp {
    width: 100%;
  }
}

/* Technology Section 스타일 */
#technology {
  padding: 50px 20px;
}

#technology h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#technology p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.technology-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.technology-details img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .technology-details {
    min-height: 600px;
  }
}

/* Testimonials Section 스타일 */
#testimonials {
  padding: 50px 20px;
}

#testimonials h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.testimonials {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(45% - 40px);
  max-width: calc(45% - 40px);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.testimonial img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Partners Section 스타일 */
#partners {
  padding: 50px 20px;
  background-color: #f8f9fa;
}

#partners h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #343a40;
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

.partner {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: transform 0.3s;
}

.partner img:hover {
  transform: scale(1.1);
}

/* Contact Section 스타일 */
#contact {
  padding: 50px 20px;
}

#contact h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#contact p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

#contact form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

#contact form label {
  font-weight: bold;
}

#contact form input,
#contact form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#contact form button {
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

#contact form button:hover {
  background-color: #555;
}

#contact form button a {
  padding: 10px 0px;
  width: 100%;
  height: 100%;
  display: inline-block;
  color: white;
  text-decoration: none;
}

/* Footer 스타일 */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer .footer-links {
  margin-bottom: 10px;
}

footer .footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

footer .footer-links a:hover {
  text-decoration: underline;
}

/* Fade-up 애니메이션 */
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 비디오 컨테이너 */
.video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.main-visual {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}
