/* styles.css */

/* 기존 CSS 내용 그대로 유지 */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  overflow-x: hidden;
  color: #343a40;
}

header {
  background-color: #343a40;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .logo img {
  height: 50px;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  z-index: 50;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 4px;
  transition: 0.4s;
}

/* Small screens (tablets, phones) */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #343a40;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }

  nav ul.showing {
    display: flex;
  }

  nav ul li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }
}

#team {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
}

#team h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #343a40;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

@media (min-width: 768px) {
  .team-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .team-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team-member {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, opacity 1s ease-out, transform 1s ease-out;
  opacity: 0;
  transform: translateY(20px);
}

.team-member.visible {
  opacity: 1;
  transform: translateY(0);
}

.team-member:hover {
  transform: translateY(-10px);
}

.team-member img {
  width: 100%;
  max-width: 300px; /* 이미지를 너무 크게 만들지 않기 위해 최대 너비를 설정합니다 */
  border-radius: 10px;
  margin-bottom: 10px;
}

.team-member h3 {
  margin-top: 0;
  color: #007bff;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer .footer-links {
  margin-bottom: 10px;
}

footer .footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

footer .footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #343a40;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }

  nav ul.showing {
    display: flex;
  }

  nav ul li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }
}
